<template name="header">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <h4 class="u-full-width">
                        <a href="/" class="header-text">school system</a>
                    </h4>
                </div>
                <div class="six columns right">
                    <div class="teacher-profile"></div>
                    <a class="button button-primary">admin</a>
                </div>
            </div>
        </div>
    </div>
</template>
