body{
    .red{
        color:#cd0000;
    }
    .field-red{
        border: 2px solid #cd0000;
    }
    .results{
        thead{
            font-size: .8em;
        }
    }
    .dash-data{
        .columns{
            border: 1px solid #ddd;
            background: #8DA2AA;
            padding: 2em;
            box-sizing: border-box;
            margin-bottom: 1.5em;
            border-radius:1em;
            h1{
                color:#fff;
                font-size: 6em;
            }
            p{
                color:#eee;
            }
            &:hover{
                background: #3BA9E8;
            }
        }
    }
    .right{
        text-align: right;
    }
    .huuge{
        font-size:2em;
    }
    .wide-container{
        width:96%;
        padding: 0;
        max-width: 90%;
    }
    .teacher-profile{
        height:30px;
        width:30px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background:#ccc;
        background-size: cover;
        display: inline-block;
        margin: 0 .5em -.7em 2em;
    }
    .header{
        background: #3BA9E8;
        color: #fff;
        position: fixed;
        padding: .5em 0;
        width: 100%;
        top:0;
        left:0;
        z-index: 99;
        h1, h2, h3, h4, p{
            margin:0;
            padding:0;
        }
        .header-text{
            color:#fff;
            text-decoraion:none;
            &:hover{

            }
        }
        .button{
            margin-bottom:0;
            font-size: 1.5em;
        }
        .teacher-profile{
            margin: 0 .5em -.4em 2em;
        }
    }
    .placeholder{
        color:#aaa;
        margin: 1em 0;
        text-align: center;
    }
    .body-container{
        margin-top: 100px;
        .sidebar{
            border-right:1px solid #ddd;
            .sidebar-menu{
                list-style: none;
                padding:0;
                .menu-item{
                    .button{
                        width:90%;
                        text-align: left;
                    }
                }
            }
        }

        .top-bar{
            h1, h2, h3, h4{
                padding:0;
                margin:0;
            }
        }

        .content{
            .universe-selectize.selectize-control.multi{
                .selectize-input{
                    height:auto;
                }
            }
            input[type="date"]{
                padding:1em;
                border-radius:5px;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }
            select, input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[type="date"], textarea {
                width:100%;
            }
            .delete{
                background:#cd0000;
                color:white;
                border:0;
            }
            .student-preview{
                height:70px;
                width:70px;
                border: 1px solid #ccc;
                border-radius: 50%;
                background-size: cover;
            }

            .student-image{
                height:140px;
                width:140px;
                border: 1px solid #ccc;
                border-radius: 50%;
                background-size: cover;
            }
            .capitalize{
                text-transform: capitalize;
            }
            p{
                margin-bottom:0;
            }
            table{
                tbody{
                    td{
                        vertical-align: middle;
                        a{
                            margin:0;
                        }
                    }
                }
            }
            strong{
                color:#007BBB;
            }
            .tags{
                margin-bottom:1em;
                line-height: 1.5em;
                .tagstyle{
                    padding:.5em 1em;
                    background: #777;
                    color:#fff;
                    margin: 0 .5em;
                    border-radius:5px;
                }
            }
        }

    }
    .processing{
        background: rgba(0,0,0,0.8);
        display: none;
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        right:0;
        box-sixing: border-box;
        z-index: 9999;
        .modally{
            opacity:0;
            position: absolute;
            z-index: 99999;
            height: 200px;
            width:300px;
            background: #778899;
            border-radius:5px;
            padding: 2em;
            box-sizing: border-box;
            left:0;
            right:0;
            top:0;
            bottom:0;
            margin: auto;
            p{
                color:white;
                text-align: center;
                margin-top: 50px;
                font-size: 2em;
            }
            .loader {
                display: inline-block;
                width: 30px;
                height: 30px;
                position: relative;
                border: 4px solid #Fff;
                top: 20px;
                left: 100px;
                animation: loader 2s infinite ease;
                .loader-inner {
                    vertical-align: top;
                    display: inline-block;
                    width: 100%;
                    background-color: #fff;
                    animation: loader-inner 2s infinite ease-in;
                }
            }
        }
        &.show{
            display: block;
            .modally{
                opacity:1;
            }
        }
    }
    .break{
        color:#777;
        letter-spacing: 3em;
        text-align: center;
        margin:0;
        padding:0;
    }
    .grey-bg{
        td{
            border-top: 3px solid #ccc;
            border-bottom: 3px solid #ccc;
        }
    }
}



@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}


.class-timetable{
    tbody{
        tr{
            td{
                p{
                    color:#aaa;
                    &.strong{
                        color:#333;
                    }
                }
            }
            td:nth-child(1){
                border-right:2px solid #ccc;
            }
        }
        tr:nth-child(2), tr:nth-child(4){
            td{
                border-bottom: 2em solid #ccc;
            }
        }
        tr:nth-child(6){
            td{
                border-bottom: 4em solid #777;
            }
        }
    }
}
