<template name="subjectEdit">
    <div class="row">
        <div class="six columns">
            <h3>{{subject.name}}</h3>
        </div>
        <div class="six columns right">
            <a href="/subject/{{subject._id}}" class="button">cancel</a>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="twelve columns">
            {{> quickForm collection="Subjects" type="update" id="updateSubjectId" doc=subject class="edit-subject-form" buttonContent="update subject"}}
        </div>
    </div>
</template>
