<template name="examDetail">
    <div class="row">
        <div class="twelve columns">
            <h3>{{exam.type}}</h3>
        </div>
        <div class="twelve-columns">
            <p><strong>term:</strong> {{exam.term}}</p>
            <p><strong>year:</strong> {{exam.year}}</p>
            <hr>
            <p class="tags">
                <strong>classes:</strong>
                <span class="tagstyle">sample</span>
            </p>
        </div>
    </div>
    {{#if isInRole 'admin'}}
        <div class="row">
            <div class="twelve columns">
                <hr>
                <p></p>
                <button class="delete-exam delete">delete exam</button>
                <a href="/edit-exam/{{exam._id}}" class="button">edit</a>
            </div>
        </div>
    {{/if}}
</template>
