<template name="clubDetail">
    <div class="row">
        <div class="twelve columns">
            <h3>{{club.name}}</h3>
            {{#if club.active}}
            {{else}}
                <p class="red">this club is deactivated</p>
            {{/if}}
        </div>
        <div class="twelve-columns">
            {{{club.description}}}
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <hr>
            <p></p>
            {{#if club.active}}
                <button class="deactivate-club delete">deactivate club</button>
            {{else}}
                <button class="deactivate-club">activate club</button>
            {{/if}}
            <a href="/edit-club/{{club._id}}" class="button">edit</a>
        </div>
    </div>
</template>
