<template name="classDetail">
    <div class="row">
        <div class="twelve columns">
            <h3>class: {{class.Form}} {{class.streamName}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <hr>
            <h5>Generate class results</h5>
            <p>select an exam below and print the class performance for the exam.</p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <select name="exams" id="examList" class="u full-width exam-list">
                <option value="">select an exam</option>
                {{#each exams}}
                    <option value="{{_id}}">{{year}} {{type}}, {{term}}</option>
                {{/each}}
            </select>
        </div>
        <div class="four columns right">
            <button class="button-primary print-class-results">print class results</button>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <hr>
            <button class="delete-class delete">delete class</button>
            <a href="/edit-class/{{class._id}}" class="button">edit class</a>
        </div>
    </div>
</template>
