<template name="sportDetail">
    <div class="row">
        <div class="twelve columns">
            <h3>{{sport.name}}</h3>
            {{#if sport.active}}
            {{else}}
                <p class="red">this sport has been deactivated</p>
            {{/if}}
        </div>
        <div class="twelve-columns">
            {{{sport.description}}}
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <hr>
            <p></p>
            {{#if sport.active}}
                <button class="deactivate-sport delete">deactivate sport</button>
            {{else}}
                <button class="deactivate-sport">activate sport</button>
            {{/if}}
            <a href="/edit-sport/{{sport._id}}" class="button">edit</a>
        </div>
    </div>
</template>
