html {
	font-family: sans-serif;
}
body {
	margin: 0px;
	font-size: .65em;
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(34, 34, 34);
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 4px;
}

hr {
	height: 0px;
	box-sizing: content-box;
	margin-top: 5px;
	margin-bottom: 5px;
	border-width: 1px 0px 0px;
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image: initial;
	border-top-style: solid;
	border-top-color: rgb(238, 238, 238);
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
	margin-bottom: 1em;
}
td {
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid rgb(225, 225, 225);
}
th{
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid rgb(50, 50, 50);
}
th:first-child, td:first-child {
	padding-left: 0px;
}
th:last-child, td:last-child {
	padding-right: 0px;
}

* {
	box-sizing: border-box;
}
::before, ::after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
b, strong {
	font-weight: bold;
}
p {
	margin: 0px 0px 4px;
}
.container {
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	box-sizing: border-box;
}
.row {
	margin-right: 0;
	margin-left: 0;
	width:100%;
}
.columns {
	width:100%;
	float: left;
	box-sizing: border-box; }
.six{
	width: 48%;
}

.title{
	text-align: center;
}
.spacer{
	margin-bottom:20px;
}

.right{
	text-alight:right;
}

.u-full-width {
	width: 100%;
	box-sizing: border-box;
}


body .wide-container {
	width: 100%;
	padding: 0px;
	max-width: 100%;
}
body .body-container .top-bar h1, body .body-container .top-bar h2, body .body-container .top-bar h3, body .body-container .top-bar h4 {
	padding: 0px;
	margin: 0px;
}
body .body-container .content .capitalize {
	text-transform: capitalize;
}
body .body-container .content p {
	margin-bottom: 0px;
}
body .body-container .content table tbody td {
	vertical-align: middle;
}
body .body-container .content table tbody td a {
	margin: 0px;
}


.class-timetable tbody tr td:nth-child(1) {
	border-right: 2px solid #ccc;
}
.class-timetable tbody tr:nth-child(2) td, .class-timetable tbody tr:nth-child(4) td {
	border-bottom: 2em solid #ccc;
}
.class-timetable tbody tr:nth-child(6) td {
	border-bottom: 4em solid #777;
}

.class-results{
	margin-top: 2em;
}
.empty-list td, .empty-list th{
	border-right: 1px solid #777;
}

.border-right{
	border-right: 1px solid #333;
}
.border-right.light{
	border-right: 1px solid #777;
}
